@page
@model Demo.Telerik.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Telerik Demo</title>
</head>
<body>
<div>
    <p>
        Welcome to the CoreForms.Web Telerik demo
    </p>
    <p>
        <a href="/Default.aspx">Continue to Default.aspx</a>
    </p>
</div>
</body>
</html>