<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="NorthwindConnectionString"
             connectionString="data source=localhost;initial catalog=northwind;persist security info=True;Integrated Security=SSPI;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation>
            <assemblies>
                <add assembly="System.Drawing" />
                <add assembly="System.Drawing.Primitives" />
            </assemblies>
        </compilation>
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="CoreForms.Web" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="CoreForms.Web.Extensions" />
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="CoreForms.Web.Extensions" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls.Expressions" assembly="CoreForms.Web.Extensions" />
            </controls>
        </pages>
        <httpModules>
            <add name="sessionState" type="System.Web.SessionState.SessionStateModule, CoreForms.Web" />
        </httpModules>
        <httpHandlers>
            <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="true" />
            <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*"
                 validate="true" />
            <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="true" />
        </httpHandlers>
    </system.web>
</configuration>